.searchInput {
    width: 400px;
    height: 40px;
    padding: 5px;
    color: black;
    border-color: black;
  }

  .searchInput:focus {
    outline: none !important;
    border-color: var(--main-color);
  }

  
  .searchBtn {
    padding: 50px 10px;
    color: aliceblue;
    box-sizing: border-box;
    max-width: var(-- content-width);
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    
  }

.submitBtn {
    width: 40px;
    height: 40px;
    background-color: var(--banner-color);
    font-size: 13px;
    color: var(--white);
}
