.searchInput {
    width: 400px;
    height: 40px;
    padding: 5px;
    /* margin-right: 10px; */
    background-color: #fff;
    color: black;
    border-color: black;
    /* border-radius: 15px; */
  }

  .searchInput:focus {
    outline: none !important;
    border-color: #2c4047;
  }

  
  .searchBtn {
    padding: 50px 10px;
    color: aliceblue;
    box-sizing: border-box;
    max-width: var(-- content-width);
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    
  }

.submitBtn {
    width: 40px;
    height: 40px;
    /* padding: 5px; */
    background-color: #fff;
    /* border-radius: 15px; */
    background-color: #00c385;
    font-size: 13px;
    color: #fff;
}

/* .searchInput {
  width: 400px;
  height: 40px;
  padding: 5px;
  margin-right: 10px;
  background-color: #fff;
  color: black;
  border-color: black;
  border-radius: 15px;
} */