 .navbar2 ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  list-style-type: none;
 }

 .navbar2 ul li {
   margin: 0 40px;
   text-decoration: underline;
   cursor: pointer;
 }