
.contact-container {
  display: flex;
    max-width: 900px;
    padding: 10px;
    background-color: var(--main-color);
  }
  
  h3 {
    margin-bottom: 10px;
    color: var(--font-color);
  }
  
  .contact-description p {
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
  }
  
  .contact-description ul {
    list-style-type: none;
    padding: 0;
    color: white;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .email-link,
  .phone-link {
    text-decoration: none;
    color: white;
  }
  
  .email-link:hover,
  .phone-link:hover {
    text-decoration: underline;
  }
  

  

  
  