.product-grid {
  display: grid;
  grid-gap: 10px;
  max-width: var(--content-width);
  width: 70%;
  margin: 0 auto;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  grid-gap: 20px;
}

