.product-grid {
  /* box-sizing: border-box; */
  display: grid;
  grid-gap: 10px;
  max-width: var(--content-width);
  width: 70%;
  margin: 0 auto;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  grid-gap: 20px;
}

/* .product-item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
} */

/* box-sizing: border-box;
    background-color: #00c385;
    max-width: var(-- content-width);
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 350px; */
